@model IEnumerable<ThpLession06CF.Models.ThpCategory>

@{
    ViewBag.Title = "ThpIndex";
}

<h2>ThpIndex</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ThpCategoryName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ThpCategoryName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ThpId }) |
            @Html.ActionLink("Details", "Details", new { id=item.ThpId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ThpId })
        </td>
    </tr>
}

</table>
