@model ThpLession06CF.Models.ThpBook

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>ThpBook</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ThpBookId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ThpBookId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ThpTitle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ThpTitle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ThpAuthor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ThpAuthor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ThpYear)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ThpYear)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ThpPulisher)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ThpPulisher)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ThpPicture)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ThpPicture)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ThpCategoryId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ThpCategoryId)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
